/*!**********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/home.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************/
/*----------------------------------------------------------------------------------*/

* {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SoDo Sans, sans-serif;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

img {
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;     /* Old Edge */
  -webkit-user-drag: none;   /* Prevent drag on Safari/Chrome */
  user-drag: none;           /* Standard (limited support) */
}

/*----------------------------------------------------------------------------------*/

/* Navigation Bar */
.navbar {
    display: flex;
    align-items: center;
    padding: 0 40px;     
    height: 85px;             
    background: #ffffff;
}

/* Starbucks Logo */
.logo img {
    width: 56.8px;
    height: auto;
    display: block;
    margin-right: -8px;
}

/* Navigation Links */
.nav-links {
    display: flex;
    gap: 17px;
    margin-left: 32px;
    font-size: 12px;
}

.nav-links li {
    font-weight: 800;
    letter-spacing: 1.4px;
    cursor: pointer;
    line-height: 1;
    list-style: none;

    transition: color 0.3s ease;
}

.nav-links li:hover {
    color: #00754A;
}


/* Right side of navigation bar */
.nav-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 16px;
}

/* Find a store */
.find-store {
    display: flex;
    align-items: center;
    gap: 3px;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
    line-height: 1;
}

/* Image inside find-store */
.find-store img {
    width: 32px;
    height: 35px;
    transition: filter 0.3s ease, transform 0.3s ease;
    filter: brightness(0) saturate(100%) invert(0%);
}


.find-store:hover img {
    filter: brightness(0) saturate(100%) invert(29%) sepia(45%) saturate(480%) hue-rotate(115deg) brightness(100%) contrast(90%);
}

/* Make the text inside inherit the color */
.find-store span, 
.find-store p, 
.find-store a {
    transition: color 0.3s ease;
    color: inherit; /* ensures color can change on hover */
}

/* Hover effect */
.find-store:hover span,
.find-store:hover p,
.find-store:hover a,
.find-store:hover {
    color: #00754A;
}

/* Buttons */
.btn-outline {
   padding: 6px 17px;
    border-radius: 50px;
    border: 1px solid #000;
    background: #fff;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
    margin-left: 20px;

    transition: background 0.3s ease, color 0.3s ease;  
}

.btn-outline:hover {
    background: #f0f0f0;
}

/* Black button */
.btn-black {
    padding: 6px 17px;
    border-radius: 50px;
    border: none;
    background: #000;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;

    transition: background 0.3s ease, color 0.3s ease;
}

.btn-black:hover {
    background: #333;
}




/*----------------------------------------------------------------------------------*/

/* Green Strip */
.green-bar {
    --text-size: 22px;      
    --button-size: 21px;     
    --vertical-offset: 0px;   
    --horizontal-offset: 0px; 

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;

    background: #32462f;
    padding: 23px 40px;

    transform: translate(
        var(--horizontal-offset),
        var(--vertical-offset)
    );
}

.green-bar h2 {
    font-size: var(--text-size);
    font-weight: 600;
    margin: 0;
    margin-top: 10px;
    transform: scaleX(1.03);
    color: #fff;
}

.start-order-btn { 
    margin-top: 10px;
    font-size: var(--button-size);
    padding: 6px 14px;
    border-radius: 50px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;

    transition: background 0.3s ease, color 0.3s ease; 
}

/* Hover effect */
.start-order-btn:hover {
    background: #00754A; 
    color: #fff; 
}


/*----------------------------------------------------------------------------------*/

/* Button - Order a seasonal treat */
.btn-outline-white {
    padding: 7px 19px;
    border-radius: 20px;
    border: 1px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 13px;

    transition: background 0.3s ease, color 0.3s ease;
}

/* Hover effect */
.btn-outline-white:hover {
    background: #004e30; 
    color: #fff; 
}

/* Dubai Chocolate Section */
.main-section {
    display: flex;
    width: 100%;
}

.left-image {
    width: 50%;
}

.left-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-text {
    width: 50%;
    background: #006342;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px;
}

.right-text h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.right-text p {
    font-size: 21px;
    max-width: 500px;
    margin-bottom: 30px;
    line-height: 32px;
}




/*----------------------------------------------------------------------------------*/

/* Roller Rabbit Section */
.roller-section {
    display: flex;
    height: 55vh;
}

.roller-left {
    background: #006342;
    color: white;
    width: 50%;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
    text-align: center;  
    gap: 25px;           
}

.roller-left h1 {
    font-size: 28px;
}

.roller-left .tight-title {
    line-height: 0.9;
    max-width: 550px;
}

.roller-left p {
    font-size: 21px;
    line-height: 1.5;   
    max-width: 520px;    
}

/* Button - Learn More */
.roller-btn {
    width: 170px;
    padding: 8px 16px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 1); 
    border: 1px solid white;
    color: #00754a;
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;

    transition: background 0.3s ease, color 0.3s ease; 
}

.roller-btn:hover {
    background: rgba(255, 255, 255, 0.9); 
}


/* Right Image Sticky Effect */
.roller-right {
    width: 50%;
    height: 100%;       
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.roller-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Spacer for scroll length */
.spacer {
    height: 2.5vh;
}




/*----------------------------------------------------------------------------------*/

/* Send Holiday Joy Section*/
.holiday-green {
    background: #006241;
}

/*----------------------------------------------------------------------------------*/


/* Free Drink Section */
.free-drink-section {
    display: flex;
    height: 55vh;
}

/* Text side */
.free-drink-text {
    width: 50%;
    background-color: #d1d1aa;
    padding: 80px 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
}

.free-drink-text h1 {
    font-size: 28px;
    line-height: 0.9;
    max-width: 550px;
    color: #32462f;
}

.free-drink-text p {
    font-size: 21px;
    line-height: 1.5;
    max-width: 520px;
    color: #32462f;
}

/* Button */
.free-drink-btn {
    padding: 7px 19px;
    border-radius: 30px;
    background: #00754a;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;

    transition: background 0.3s ease; 
}

.free-drink-btn:hover {
    background: #007e52;
}


/* Image side */
.free-drink-image {
    width: 50%;
}

.free-drink-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}





/*----------------------------------------------------------------------------------*/


/* Free Cup of Cheer Section */
.free-cheer-section {
    display: flex;
    flex-direction: row-reverse;
    height: 35vh;
}

/* Text side */
.free-cheer-text {
    width: 54%;
    background: #f5f1eb;
    padding: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;

    color: #006242;
}

.free-cheer-text h1 {
    font-size: 22px;
    line-height: 1.15;
}

.free-cheer-text p {
    font-size: 16px;
    line-height: 1.4;
    max-width: 420px;
}

/* Button */
.free-cheer-btn {
    padding: 7px 19px;
    border-radius: 20px;
    border: 1px solid #006242;
    background: transparent;
    color: #006242;
    cursor: pointer;
    font-weight: 700;
    font-size: 13px;

    transition: background 0.3s ease, color 0.3s ease;
}


.free-cheer-btn:hover {
    background: rgba(0, 98, 66, 0.1); 
    color: #006242;
}


/* Image side */
.free-cheer-image {
    width: 55%;
}

.free-cheer-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}





/*----------------------------------------------------------------------------------*/


/* White Text Notice Section */
.notice-section {
    min-height: 25vh;
    padding: 40px 0;
    background: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

/* Notice Section Text Control */
.notice-section p {
    max-width: 660px;  
    font-size: 16px;
    line-height: 1.6;
    color: #000000;
    margin-bottom: 20px;
    margin-top: -10px;
}

.notice-section .small-text {
    max-width: 640px;
    font-size: 16px;
    color: #000000;

    position: relative;
    top: 35px; 
}




/*----------------------------------------------------------------------------------*/


/* About Us Footer Link */
.home-footer-links {
    background: #ffffff;
    padding: 25px 5% 20px 5%;  
    display: flex;
    gap: 50px;               
    flex-wrap: wrap;

    /* Shadow separator at top */
    box-shadow: 0 -2px 2px rgba(0,0,0,0.09);
}

.home-footer-column {
    min-width: 180px; 
}

.home-footer-column h3 {
    font-size: 16px;     
    margin-bottom: 20px; 
    color: #000;
    font-weight: 500;
    margin-left: -27px;      
}

.home-footer-column ul {
    list-style: none;
    padding-left: 0;       
}

.home-footer-column li {
    margin-left: -27px;       
    font-size: 14px;     
    color: #666;
    margin-bottom: 17px; 
    cursor: pointer;
    transition: 0.2s;
}

.home-footer-column li:hover {
    color: #000;
}

/* Footer links */
.home-footer-column a {
    color: #666;             
    text-decoration: none;    
    font-size: 14px;
    transition: color 0.2s;
}

/* Visited links */
.home-footer-column a:visited {
    color: #666;
}

/* Hover effect */
.home-footer-column a:hover {
    color: #000;
    text-decoration: none;
}



/*----------------------------------------------------------------------------------*/


/* Social Media Bottom Footer */
.bottom-footer {
    background: #ffffff;
    padding: 32px 40px;
    border-top: 1px solid #d4d4d4;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.05);
}

.home-social-icons {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-left: -7px;
    margin-bottom: 25px;
}

.home-social-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
}

/* Grey circle layer */
.home-social-icon::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background-color: #e5e5e5;

    transform: scale(0);            /* start hidden */
    transition: transform 0.25s ease;
    z-index: 0;
}

/* Zoom in effect */
.home-social-icon:hover::before {
    transform: scale(1);
}

/* Keep icon above circle */
.home-social-icon img {
    position: relative;
    z-index: 1;

    width: 22px;
    height: 22px;
    object-fit: contain;
}

/* Individual icon sizing */
.home-social-icon.spotify img,
.home-social-icon.facebook img,
.home-social-icon.pinterest img,
.home-social-icon.instagram img,
.home-social-icon.youtube img,
.home-social-icon.twitter img {
    width: 40px;
    height: 32px;
}

.footer-legal-links {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 28px;
}

.footer-legal-links a {
    color: #000000;
    text-decoration: none;
    font-size: 13px;
    transition: color 0.3s;

    display: inline-block;   
    width: -moz-fit-content;   
    width: fit-content;      
    position: relative;
}

.footer-legal-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.5px;
    width: 100%;
    height: 0.5px;
    background-color: #000;
    opacity: 0;
}

.footer-legal-links a:hover::after {
    opacity: 1;
}

.home-copyright {
    color: #00000099;
    font-size: 9.5px;
    margin: 0;
}

/* Navigation Bar Shadow Divider */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 32px;
    background: #ffffff;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    position: relative;
    z-index: 10;
}




/*----------------------------------------------------------------------------------*/
