.cup-only-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 50;
}

#cup-only-svg {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 85px;
  width: 73px;
  opacity: 0.7;
}

#cup-only-steam {
  opacity: 0.4;
  stroke-dasharray: 25;
  animation: cupOnlyDash 2.4s infinite linear;
}

@keyframes cupOnlyDash {
  from {
    stroke-dashoffset: 25;
  }
  to {
    stroke-dashoffset: -25;
  }
}